In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
dating_df = pd.read_csv('/Users/choi/Desktop/programming/dating.csv')

In [ ]:
pd.set_option('display.max_columns', 50)

In [ ]:
dating_df.head()

In [ ]:
dating_df.describe()

### 컬럼 이름 변경

In [ ]:
dating_df.columns

In [ ]:
'string'.startswith('b')

In [ ]:
'string'.endswith('g')

In [ ]:
'string'.replace('s', 'a')

In [ ]:
new_cols = []

for i in dating_df.columns: 
    if i.startswith('pref_o'): 
        i = i.replace('pref_o_', 'o_important')
    elif i.endswith('_o'):
        i = 'o_score_' + i.replace('_o', '')
    elif i.endswith('_important'): 
        i = 'i_important_' + i.replace('_important', '')
    elif i.endswith('_partner'): 
        i = 'i_score_' + i.replace('_partner', '')
    elif i.startswith('o_important'):
        i = i.replace('o_important', 'o_important_')
    new_cols.append(i)

In [ ]:
len(new_cols)

In [ ]:
dating_df.columns = new_cols

In [ ]:
dating_df = dating_df.rename({'o_score_age' :'age_o', 'o_score_race' : 'race_o'}, axis = 1)

In [ ]:
'hello'.replace('l', 'x')

In [ ]:
dating_df.head()

### 결측치 처리

In [145]:
dating_df.isna().mean()

gender                           0.0
age                              0.0
age_o                            0.0
race                             0.0
race_o                           0.0
importance_same_race             0.0
importance_same_religion         0.0
o_important__attractive          0.0
o_important__sincere             0.0
o_important__intelligence        0.0
o_important__funny               0.0
o_important__ambitious           0.0
o_important__shared_interests    0.0
o_score_attractive               0.0
o_score_sincere                  0.0
o_score_intelligence             0.0
o_score_funny                    0.0
o_score_ambitous                 0.0
o_score_shared_interests         0.0
i_important_attractive           0.0
i_important_sincere              0.0
i_important_intellicence         0.0
i_important_funny                0.0
i_important_ambtition            0.0
i_important_shared_interests     0.0
i_score_attractive               0.0
i_score_sincere                  0.0
i_score_intelligence             0.0
i_score_funny                    0.0
i_score_ambition                 0.0
i_score_shared_interests         0.0
interests_correlate              0.0
expected_happy_with_sd_people    0.0
expected_num_interested_in_me    0.0
like                             0.0
guess_prob_liked                 0.0
match                            0.0
age_gap                          0.0
dtype: float64

In [148]:
dating_df[dating_df['o_important__attractive'].isna()]

Empty DataFrame
Columns: [gender, age, age_o, race, race_o, importance_same_race, importance_same_religion, o_important__attractive, o_important__sincere, o_important__intelligence, o_important__funny, o_important__ambitious, o_important__shared_interests, o_score_attractive, o_score_sincere, o_score_intelligence, o_score_funny, o_score_ambitous, o_score_shared_interests, i_important_attractive, i_important_sincere, i_important_intellicence, i_important_funny, i_important_ambtition, i_important_shared_interests, i_score_attractive, i_score_sincere, i_score_intelligence, i_score_funny, i_score_ambition, i_score_shared_interests, interests_correlate, expected_happy_with_sd_people, expected_num_interested_in_me, like, guess_prob_liked, match, age_gap]
Index: []

In [144]:
drop_cols = []

for i in dating_df.columns: 
    if i.startswith('o_important'):
        drop_cols.append(i)
    elif i.startswith('i_important'):
        drop_cols.append(i)

In [ ]:
drop_cols

In [ ]:
dating_df = dating_df.dropna(subset = drop_cols)

In [ ]:
dating_df.isna().mean()

In [ ]:
dating_df = dating_df.fillna(-99)

### 이상치 처리

In [ ]:
dating_df.describe()

In [ ]:
dating_df['o_score_attractive'].sort_values()

In [ ]:
dating_df['o_score_funny'].sort_values()

In [ ]:
dating_df['o_score_attractive'] = dating_df['o_score_attractive'].apply(lambda x: 10 if x > 10 else x)

In [ ]:
dating_df['o_score_attractive'].max()

In [ ]:
dating_df['o_score_attractive'] = dating_df['o_score_attractive'].apply(lambda x: 10 if x > 10 else x) = dating_df['o_score_funny'].apply(lambda x: 10 if x > 10 else x)

In [ ]:
dating_df['o_score_funny'].max()

In [ ]:
o_imp = []

for i in dating_df.columns: 
    if i.startswith('o_important'):
        o_imp.append(i)

In [ ]:
o_imp

In [ ]:
dating_df['o_imp_sum'] = dating_df[o_imp].sum(axis = 1)

In [ ]:
i_imp = []

for i in dating_df.columns: 
    if i.startswith('i_important'):
        i_imp.append(i)

In [ ]:
i_imp

In [ ]:
dating_df['i_imp_sum'] = dating_df[i_imp].sum(axis = 1)

In [ ]:
dating_df.head()

In [ ]:
dating_df[dating_df['o_imp_sum'] != 100]

In [ ]:
dating_df[o_imp] = dating_df.apply(lambda x : 100 / x['o_imp_sum'] * x[o_imp], axis = 1)

In [ ]:
dating_df[o_imp].sum(axis = 1)

In [ ]:
dating_df[i_imp] = dating_df.apply(lambda x : 100 / x['i_imp_sum'] * x[i_imp], axis = 1)

In [ ]:
dating_df.drop(['o_imp_sum', 'i_imp_sum'], axis = 1, inplace = True)

In [ ]:
dating_df.head()

### AGE

In [149]:
def age_func(x): 
    if x['age'] == -99:
        return -99
    elif x['age_o'] == -99:
        return -99
    # else:
    #     x['age'] - x['age_o']
    elif x['gender'] == 'female':
        return x['age_o'] - x['age']
    else:
        return x['age'] - x['age_o']

In [150]:
dating_df['age_gap'] = dating_df.apply(age_func, axis = 1)

In [151]:
dating_df['age_gap']

0       6.0
1       1.0
2       1.0
3       2.0
4       3.0
       ...
8372    1.0
8373   -1.0
8374    1.0
8376    3.0
8377    3.0
Name: age_gap, Length: 8130, dtype: float64